body {
	background-color: #c0c0c0;
	font-family: Arial;
	font-size: 13px;
}
body{
	width: 75%;
	vertical-align: middle;
	margin: 8px auto;
}
article .header, header .header{
	background: url("../assets/img/headerbg.gif");
	height: 25px;
	line-height: 25px;
	padding: 0 .5em;
	box-sizing: border-box;
	color: #fff;
}
article .content, header .content{
	padding: .2em 1.2em;
}
header .content.menu-archive{
	padding: .5em;
}
article, header{
	text-align: left;
	color: #000;
	background-color: #ffffff;
	margin: 0 0 20px 0;
}
article .content:after{
	content: "";
	width: 100%;
	height: 5px;
	display: block;
	background: url("../assets/img/divider.gif");
}
article .header .datestamp{
	font-size: x-small;
	color: #000;
}
article .content .timestamp{
	font-size: x-small;
	color: #c0c0c0;
	display: block;
}
article .content .status .mood,
article .content .status .tunes{
	font-weight: bold;
	display: block;
}
article .content .status .mood .value,
article .content .status .tunes .value{
	font-weight: normal;
}
article .content .status .mood .value img{
	vertical-align: bottom;
}
article .content .status{
	margin: 5px 0;
}
header .content.profile{
	box-sizing: border-box;
	height: 150px;
	background: url("../assets/img/sadface.gif") no-repeat bottom right;
}
header .header{
	/*Redundancy*/
	font-weight: bold;
}
header .content #user-pic{
	border: 2px solid black;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
header .content #user-info{
	display: inline-block;
	margin: auto 0;
	vertical-align: top;
}
header .content #name, header .content #quote{
	font-weight: bold;
	display: block;
}
header .content #quote{
	font-style: italic;
	margin: 1rem 0;
}
header .content{
	display: table;
	width: 100%;
}
header .content .container{
	display: table-cell;
	vertical-align: middle;
}