<!DOCTYPE html>
<html>
	<head>
		<title>{{site.title-sec}}</title>
		<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			{%if paginator.page == 1%}
			<div class="header">
				{{site.title}}
			</div>
			<div class="content profile">
				<div class="container">
					<img id="user-pic" src="assets/img/moll.jpg">
					<div id="user-info">
						<span id="name">{{site.author}}</span>
						<a href="#">user profile</a>

						<span id="quote">"{{site.quote}}"</span>

						{%if paginator.total_pages > 1%}
							Archives - 
							{%for page in (2..paginator.total_pages)%}
								<a href="{{site.paginate_path | relative_url | replace: ':num', page}}">{{page | minus: 1}}</a>
							{%endfor%}
						{%endif%}
					</div>
				</div>
			</div>
			{%else%}
			<div class="header">
				ARCHIVES
			</div>
			<div class="content menu-archive">
				<div class="container">
					<div id="user-info">
						Archives - 
						{%for page in (1..paginator.total_pages)%}
							{%if page == 1%}
								<a href="{{'/' | relative_url}}">current</a>
							{%else%}
								<a href="{{site.paginate_path | relative_url | replace: ':num', page}}">{{page | minus: 1}}</a>
							{%endif%}
						{%endfor%}
					</div>
				</div>
			</div>
			{%endif%}
		</header>
		<main>
			{%for post in paginator.posts%}
			<article class="post">
				<div class="header">
					{{post.title}}<span class="datestamp"> - {{post.date | date: "%m.%d.%y"}}</span>
				</div>
				<div class="content">
					<span class="timestamp">posted at {{post.date | date: "%H:%M%P"}}</span>
					<div class="status">
						<span class="mood">current mood: <span class="value">
						<!--why liquid. why do you have shitty program flow-->
						{%assign mood = post.mood | downcase%}
						{%if mood == "reticent"%}
						<img src="assets/img/sadicon1.gif">
						{%elsif mood == "stalwart"%}
						<img src="assets/img/sadicon1.gif">
						{%elsif mood == "more humbled than usual"%}
						<img src="assets/img/sadicon1.gif">
						{%elsif mood == "whimsically whistful"%}
						<img src="assets/img/sadicon1.gif">
						{%elsif mood == "torn"%}
						<img src="assets/img/sadicon1.gif">
						{%elsif mood == "smarmy"%}
						<img src="assets/img/sadicon2.gif">
						{%elsif mood == "stereotyped and classified"%}
						<img src="assets/img/sadicon2.gif">
						{%elsif mood == "rotten inside"%}
						<img src="assets/img/sadicon2.gif">
						{%elsif mood == "still alive."%}
						<img src="assets/img/sadicon3.gif">
						{%elsif mood == "meh"%}
						<img src="assets/img/sadicon3.gif">
						{%elsif mood == "devoid"%}
						<img src="assets/img/sadicon3.gif">
						{%elsif mood == "less reticent"%}
						<img src="assets/img/sadicon3.gif">
						{%elsif mood == "brissly"%}
						<img src="assets/img/sadicon4.gif">
						{%elsif mood == "sebaceous"%}
						<img src="assets/img/sadicon4.gif">
						{%elsif mood == "getting fustrated"%}
						<img src="assets/img/sadicon5.gif">
						{%elsif mood == "whimsically whistful"%}
						<img src="assets/img/sadicon6.gif">
						{%elsif mood == "self pitying"%}
						<img src="assets/img/sadicon6.gif">
						{%elsif mood == "slight"%}
						<img src="assets/img/sadicon6.gif">
						{%elsif mood == "the frig?"%}
						<img src="assets/img/sadicon7.gif">
						{%else%}
						<img src="assets/img/sadicon{{forloop.index | modulo: 7 | plus: 1}}.gif">
						{%endif%}
						{{mood}}
					</span></span>
						<span class="tunes">current tunes: <span class="value">{{post.tune}}</span></span>
					</div>
					{{post.content}}
				</div>
			</article>
			{%endfor%}
		</main>
	</body>
</html>